<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Hola!, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento para aprender</title>
</head>
<body>
    Hola!
    <div>
        <h1>Mi primer blog con Django</h1>
    </div>

    <div>
        <h2><a href="https://djangogirls.org">link</a></h2>
         <em><p>Publicado el 08 de Enero del 2020 a las 18:11</p></em>
    </div>

    <div>
        <h2>¿Porque nos lamen nuestro perros?</h2>
        <p>El lamido es uno de los comportamientos más representativos de los</p> 
            <p>perros, casi comparable con el ladrido. Es cierto que existen</p>
             <p>individuos más o menos “lamedores” pero al final todos acaban</p> 
             <p>alargando la lengua para, por ejemplo, conocer el mundo que les</p>
             <p>rodea. El perro no solo explora valiéndose de su poderosísimo</p>
        
             <p> sentido del olfato y de la vista, sino que también se sirve de su</p> 
             <p> lengua para enfrentarse a lo desconocido. ¿No te has fijado que</p> 
             <p>cuando obsequias a tu peludo con un nuevo juguete además de</p> 
             <p>olfatearlo lo chupa? Es su manera de ir conociendo ese objeto desconocido.</p>
             
    </div>
    <div>

</body> 
</html>